@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-white shadow-lg 
            font-bold rounded-md bg-blue-800 px-5 py-3;
    @apply hover:bg-blue-600;
  }

  .btn-white {
    @apply bg-white text-black hover:bg-gray-200 ring-gray-500;  
  }
  
  .btn:active {
    @apply transform scale-95 shadow-xl;
  }
  
  .btn:focus {
    @apply outline-none ring-4;
  }
  
  .input {
    @apply outline-none rounded-lg appearance-none border-2 bg-gray-100 focus:ring-2 px-3 py-2;
  }
  
  .input-label {
    @apply uppercase font-bold mb-1 text-blue-700 text-xs;
  }
}

@layer utilities {
  .anim-delay-100 {
    animation-delay: 100ms;
  }

  .translate-z-0 {
    transform: translateZ(0);
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}